.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid orange;
  height: 70px;
  margin-left: 29px;
  width: 1062px;
}

.navButtons {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.view {
  margin-left: auto;
  margin-right: 10px;
}