.container {
  width: 100%;
  height: 90vh;
  //border: 1px solid red;
}

.submit {
  margin-right: 10px !important;
}

.buttonsContainer {
  padding: 12px 0;
}

.description {
  margin: 0 0 20px 0;
}

.spinner {
  color: whitesmoke;
  margin-left: 6px;
}

.subNavEditor {
  width: 100%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 10px;
}

.editor {
  
}

