.container {
  display: flex;
  border: 2px solid blueviolet;
  justify-content: space-between;
  background: #d4e3ee;
  width: 148px;
  height: 154px;
  z-index: 1;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
}

.blockInfo {
  margin: 4px 2px;
}

.blockButtons {
  position: absolute;
  right:0;
  bottom: 0;
}

.task {
  margin: 2px;
  font-size: 14px;
  font-weight: 500;
}