.container {
  height: 400px;
  overflow-y: scroll;
  position: relative;
  padding-top: 20px;
}

.goalBlock {
  display: flex;
  align-items: center;
  margin: 10px;
}

.color {
  width: 20px !important;
  height: 15px !important;
}

.count {
  margin: 0 5px;
}

.name {
  margin: 0 5px;
}

.cancel {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
}