.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
 //border: 2px solid green;
}

.subNav {
 display: flex;
 justify-content: flex-end;
 margin-top: 20px;
}

.navLink {
  margin: 0 10px;
}

.active {
  text-decoration: underline;
}

.actionContainer {
  margin: 10px;
}