.container {
  border: 1px solid darkblue;
  width: 23%;
  min-width: 530px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.subNav {
 display: flex;
 justify-content: flex-end;
 margin-top: 20px;
}

.navLink {
  margin: 0 10px;
}

.active {
  text-decoration: underline;
}