.container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 600px;
  flex-grow: 3;
}

.addActionBlockContainer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goalSelector {
  border: 1px solid orange;
  padding: 10px;
}