.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 600px;
  flex-grow: 3;
}

.goalCreation {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goalList {
  height: 300px;
}