.container {
}

.body {
  display: flex;
  margin: 10px;
}

.input {
  width: 60%;
  margin-left: 10px;
}

.colorPicker {
  margin-right: 10px;
}

.typeSelector {
  width: 40%;
  margin-left: 10px;
}


.footer {
  display: flex;
  margin: 10px;

}

.submit {
  margin-right: 10px !important;
}