.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-left: 29px;
  width: 1062px;
  position: relative;
}

.datesShowing {
  color: rgb(85, 89, 95);
  font-size: 22px;
}

.navButtons {
  position: absolute;
  left: 0;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .view {
//   margin-left: auto;
//   margin-right: 10px;
// }