.container {
  display: flex;
  
  width: 100%;
  overflow-x: scroll;
}

.sideBarFilter {
  padding: 30px;
}

.sessionList {
  
}


.blockContainer {
  position: relative;
  width: 148px;
  height: 154px
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}