.container {
  display: flex;
}

.dayColumn {
  margin: 0 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockContainer {
  position: relative;
  width: 148px;
  height: 154px
}