.container {
  
  height: 40px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: flex-start;
  background: #d5d7d8
}

.link {
  margin: 0 20px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.active {
  text-decoration: underline;
}