.container {
  width: 70vw;
}

.formControl {
  width: 100%;
  padding: 10px 0 15px 0!important;
}

.submit {
  margin-right: 10px !important;
}

.note {
  z-index: 0,
}

.header {
  display: flex;
  flex-direction: column;
}

.creating {
  width: 500px;
}

.description {
  margin: 7px 0;
}

.goalSelector {
  margin: 7px 0;
}

.subNavEditor {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.link {
  margin: 0 3px;
}


.actionButtons {
  margin: 12px 0;
}

.active {
  text-decoration: underline;
}