.container {
  width: 90vw;
  height: 90vh;
  overflow-y: scroll;
}

.submit {
  margin-right: 10px !important;
}

.header {
  display: flex;
  flex-direction: column;
}

.creating {
  width: 500px;
  height: auto;
  overflow: revert !important;
}

.textFieldWrapper {
  width: 500px;
}

.description {
  // margin: 10px 0;
  padding: 10px 0;
}

.goalSelector {
  margin: 7px 0;
}

.actionButtons {
  margin: 12px 0;
}

.spinner {
  color: whitesmoke;
  margin-left: 6px;
}