.container {
  border: 1px solid red;
  height: 100%;
}

.goal {
  border:1px solid black;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.timer {
  border:1px solid black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: bold;
  font-size: 60px;
}

.currentBlockContainer {
  top: 25%;
  transform: translateY(-25%);
  position: relative;
  margin: 0 auto;
  width: 154px;
  height: 164px;
}

.blockForm {
  display: flex;
  justify-content: center;
  align-items: center;
}