.container {
  margin: 30px;
}

.authButtons {
  display: flex;
  text-decoration: none !important;
  padding-top: 20px;
}

.signUpButton {
  text-decoration: none;
  margin-right: 10px;
}

.loginButton {
  text-decoration: none;
}