.container {
  padding: 15px;
  height: 83%;
  overflow-y: scroll;
  height: 100%;
}

.blockForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  display: flex;
  // align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100px;
  margin-bottom: 5px;
}

.search {
  display: flex;

}

.summary {
  margin-bottom: 10px;
}