.container {
  width: 100%;
  margin: 30px;
}

.signUpForm {
  padding-top:20px;
}

.field {
  margin: 20px 0;
  width: 300px;
}

.signUpButton {
  padding-top: 20px;
}

.cancelButton {
  margin-right: 12px;
  color: #b2b0b0 !important;
}