.container {
  height: 100%;
  display:flex;
  flex-direction: column;
  margin: 20px;
}

.goalSelector {
  z-index: 9;
}

.description {
  margin: 10px 0;
}

.goalSelector {
  margin: 10px 0;
}

.start {
  padding: 60px 0;
  height: 200px;
  width: 200px;
  border-radius: 100px !important;
  font-size: 40px !important;
  margin: 0 auto !important;
  background: #59dd8c !important;
  color: black !important;
  font-style: italic;
}